<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oxx Academy - @ViewBag.Title </title>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <link rel="stylesheet" href="/Content/Stylesheets/Css/foundation.css" />
    <link rel="stylesheet" href="/Content/Stylesheets/Css/screen.css" />
    <script src="/Content/Js/modernizr.js"></script>

</head>
<body>
    <div class="container-top-bar">
        <div class="top-bar">
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="menuButton">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="color:white" href="/Signup/Index">OXX</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                       
                        <ul class="nav navbar-nav navbar-right">

                            <li><a href="/Signup/Index" style="color:white"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                <li><a href="/Statistikk/statiskkAlder" style="color:white"><span class="glyphicon glyphicon-log-in"></span> Statistikk</a></li>
                                
                                <li><a href="/Oppgave/oppgave" style="color:white"><span class="glyphicon glyphicon-shopping-cart"></span> Oppgaven</a></li>
                        </ul>
                    </div>
                </div>
            </nav>


        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
        </div>
    </div>
    @RenderBody()

    <br /><br />
    <footer>
        <div class="row">
            <div class="large-12 columns">
            </div>
        </div>
    </footer>
    <script src="/Content/Js/jquery.js"></script>
    <script src="/Content/Js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>

</body>
</html>
